@font-face {
    font-family: dahot2;
    src: url("../../../../assets/font/dahot2.Filxgirl.ttf")
  }

  .title{
    font-size: 45px;
    font-family: dahot2;
    /* color:black; */
  }
.background{
  width: 100%;
}
.preview{
  height: 100%;
  width: 100%;
}
.context{
  width: 50%;
  border-radius:5px;
  margin:0 auto;
}
.contex_title{
  margin-top: 5%;
  margin-bottom: 10px;
  font-size: 40px;
}